.main-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

table {
  border: 2px solid black;
  border-collapse:collapse;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

th, td {
  border: 1px solid black;
  padding: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
}

th {
  background-color: lightgray;
}

td {
  background-color: white;
}

p {
  margin-left: auto;
  margin-right: auto;
  font-size: 18px
}

h1 {
  margin-top: 20px;
  text-align: center;
}

#cr {
  text-align: center;
  background-color: lightblue;
  color:darkblue;
  padding: 50px;
  font-size: 20px;
  height: 200px
}

body {
  background-color: #fed8b1;
}

@media print{
  .home_button{
    display: none;
  }
}

.home_button {
  text-align: center;
}

a:hover {
  color:green;
  font-weight: bold;
  font-size:16px;
}

@media (min-width:700px) {
  #cr::after {
    content: " on 20th April, 2020";
  }
}
